.login__modal {
    display: none;
    width: 100%;
    height: 100vw;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.384);
  }
  
  .modal {
    display: block;
    padding: 24px 32px 24px 32px;
    margin: 100px auto;
    width: 590px;
    height: 483px;
    background-color: #fff;
    border-radius: 20px;
  }
  
  .site__exit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25.07px;
    float: right;
    border: none;
    cursor: pointer;
    background-color: #F5F5F5;
    border-radius: 100px;
  }

  .login__titles {
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 32px;
  }
  
  .login__title {
    margin-left: 30px;
    text-align: center;
    font-size: 36px;
  }
  
  .login__text {
    text-align: center;
    color: #555555;
  }
  
  .email__input {
    color: #299764;
    font-size: 18px;
    outline: none;
    width: 526px;
    padding: 13px;
    background: #FFFFFF;
    border: 1.5px solid #E5E7EA;
    border-radius: 82px;
  }
  
  .password__input {
    color: #299764;
    margin-top: 16px;
    font-size: 18px;
    outline: none;
    width: 526px;
    padding: 13px;
    background: #FFFFFF;
    border: 1.5px solid #E5E7EA;
    border-radius: 82px;
  }
  
  .login__button-modal {
    width: 526px;
    margin-top: 40px;
    border: none;
    padding: 18px 30px;
    background-color: #299764;
    display: inline-block;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    font-size: 16px;
  }
  
  .site__title-password {
    text-align: end;
  }
  
  .eye__See {
    position: absolute;
    top: 349px;
    left: 904px;
    cursor: pointer;
  }
  
  .eye__See-none {
    position: absolute;
    top: 349px;
    left: 904px;
    display: none;
    cursor: pointer;
  }
  
  .site__title-password {
    color: #555555;
    margin-left: 418px;
  }
  
  .create__acaunt {
    margin-top: 26px;
    text-align: center;
    color: #000000;
  }
  
  .Email__error,
  .password__error {
    margin-left: 5px;
    color: #FF3B30;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .ligh__mode {
    background-color: #1c1c1c;
  }
  
  body {
    transition: 0.6s;
  }
  
  .container {
    max-width: 1200;
    margin: 0 auto;
  }
  
  .box__companys {
    padding: 0 150px 0 120px;
    margin-top: 160px;
    font-size: 24px;
  }
  
  .box__card-imgs {
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .slide-content {
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    height: 500px;
    cursor: pointer;
  }
  
  .slide-list {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .slide-item {
    min-width: 100%;
    height: 100%;
    background-color: aqua;
    margin: 1px;
  }
  .slide-item img {
    width: 100%;
  }
  
  .next {
    position: absolute;
    z-index: 9999999;
    font-size: 32px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 50%;
    bottom: 40px;
    right: 40px;
  }
  
  .prev {
    position: absolute;
    z-index: 9999999;
    font-size: 32px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 50%;
    bottom: 40px;
    right: 88px;
  }
  
  .prev:active {
    opacity: 0.6;
  }
  
  .next:active {
    opacity: 0.6;
  }
  
  .indicators {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  .indicators img {
    width: 80px;
    border-radius: 10px;
    transition: all 0.2s ease-in;
    cursor: pointer;
  }
  .indicators img:hover {
    opacity: 0.6;
  }
  
  .ind {
    display: block;
    width: 8px;
    height: 8px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    bottom: 54px;
    left: 40px;
    z-index: 999;
  }
  
  .indicator1 {
    left: 40px;
  }
  
  .indicators {
    position: absolute;
    bottom: 54px;
    left: 40px;
    display: flex;
    gap: 6px;
  }
  
  .indicator2 {
    left: 76px;
  }
  
  .indicator3 {
    left: 90px;
    width: 8px;
    height: 8px;
    border-radius: 100px;
  }
  
  .current {
    width: 30px;
    border-radius: 100px;
  }
  
  .site__img-cars {
    object-fit: cover;
  }/*# sourceMappingURL=stayle.css.map */