*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ligh__mode {
    background-color: #1c1c1c;
}

body{
    transition: 0.6s;
}


